body {
  /* background-image:url("../gif/back.gif");*/
  font-size:10pt,
	font-family: arial, helvetica, sans-serif;
}

a:link { color:#000000 }
a:visited { color:#000000 }
a:active { color:#000000 }
a:hover { color:#9900FF }
