
@media screen {
	body     {
		background-color: #FFFFFF;
		font-family: arial, helvetica, sans-serif;
	}
	.font14pt  {color: #000000 ; font-size: 14pt ; font-family: Arial}
	.font18pt  {color: #000000 ; font-size: 18pt ; font-family: Arial}
	.font20pt  {color: #000000 ; font-size: 20pt ; font-family: Arial}
	.fontmain  {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontmain5 {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontttl   {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontttl5  {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fonttbl   {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fonttbl5  {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontattn  {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontattn5 {color: #000000 ; font-size: 12pt ; font-family: Arial}
}
@media print {
	BODY     {
		background-color: #FFFFFF ; 
		width: 210mm; 
		margin: 10mm 5mm
	}
	td.imgtbl500 {width: 105mm}
	td.imgtbl510 {width: 105mm}
	img.imgtbl250 {width: 70mm}
	img.imgtbl700 {width: 200mm}
	img.imgtbl600 {width: 80mm}
	img.imgtbl500 {width: 100mm}
	img.imgtbl505 {width: 100mm}
	table.fontattn {width: 75%}
	a {display: off}
	.font14pt  {color: #000000 ; font-size: 14pt ; font-family: Arial}
	.font18pt  {color: #000000 ; font-size: 18pt ; font-family: Arial}
	.font20pt  {color: #000000 ; font-size: 20pt ; font-family: Arial}
	.fontmain  {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontmain5 {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontttl   {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontttl5  {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fonttbl   {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fonttbl5  {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontattn  {color: #000000 ; font-size: 12pt ; font-family: Arial}
	.fontattn5 {color: #000000 ; font-size: 12pt ; font-family: Arial}
}
